.App {
  text-align: center;
}

nav {
  width: 100%;
  background-color: black;
  height: 3.25em;
}

.nav-item {
  margin: .5em;
  font-size: 1.25em;
}

.padTop {
  padding-top: 2em;
}

.center {
  text-align: center;
}
